.contact {
  background-color: #000000;
  height: 48.125em;
  width: 100%;
}
.contact-left-tit {
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 500;
}
.contact-left-txt {
  width: 70%;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 0.875em;
  text-align: justify;
}
