@import 'variables';

.contact {
    background-color: @black;
    &-border {
        border-bottom: 1px solid gray;
    }
    &-side{   
        padding-top: 25%;
        padding-bottom: 15%; 
        &-left{
            width: 50%;
            &-tit{
                width: 64%;
            }
            &-txt{
                width: 64%;
            }
        }
        &-right{
            width: 50%;
            &-txt{
                height: 50%;
                line-height: 1.55rem !important;
            }
            &-form{
                height: 3.25rem;
                border: none;
                background-color: @black;
                border-bottom: 1px solid gray;
                &::placeholder{
                    color: @white;
                }
            }
            &-button{
                width: 3.125rem;
                height: 3.25rem;
                text-align: start;
                background-color: @black;
            }
        } 
    }
}

@media screen and (max-width: 960px){
    .contact{
        &-side{
            padding-top: 25%;
        }
    }
}

@media screen and (max-width: 719px){
    .contact{
        &-side{
            &-left{
                width: 100%;
                &-tit{
                    width: 100%;
                }
                &-txt{
                    width: 100%;
                }
            }
            &-right{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 360px){
    .contact{
        &-side{
            padding-top: 35%;
        }
    }
}
