.font-12 {
  font-size: 0.75rem;
  line-height: 0.9rem;
}
.font-14 {
  font-size: 0.875rem;
  line-height: 1.05rem;
}
.font-18 {
  font-size: 1.125rem;
  line-height: 1.35rem;
}
.font-24 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.font-32 {
  font-size: 2rem;
  line-height: 2.7rem;
}
.font-36 {
  font-size: 2.25rem;
  line-height: 2.7rem;
}
.font-53 {
  font-size: 3.335rem;
  line-height: 3.438rem;
}
.font-regular {
  font-weight: 300;
}
.font-semibold {
  font-weight: 400;
}
.font-bold {
  font-weight: 500;
}
.letter-spacing-0_3 {
  letter-spacing: 0.019rem;
}
.letter-spacing--0_3 {
  letter-spacing: -0.019rem;
}
.contact {
  background-color: #000000;
}
.contact-border {
  border-bottom: 1px solid gray;
}
.contact-side {
  padding-top: 25%;
  padding-bottom: 15%;
}
.contact-side-left {
  width: 50%;
}
.contact-side-left-tit {
  width: 64%;
}
.contact-side-left-txt {
  width: 64%;
}
.contact-side-right {
  width: 50%;
}
.contact-side-right-txt {
  height: 50%;
  line-height: 1.55rem !important;
}
.contact-side-right-form {
  height: 3.25rem;
  border: none;
  background-color: #000000;
  border-bottom: 1px solid #FFFFFF;
  border-radius: 0;
}
.contact-side-right-form-msg {
  height: 4.25rem;
  border: none;
  background-color: #000000;
  border-bottom: 1px solid #FFFFFF;
  border-radius: 0;
}
.contact-side-right-form-msg::-webkit-input-placeholder {
  color: #FFFFFF;
}
.contact-side-right-form-msg:-ms-input-placeholder {
  color: #FFFFFF;
}
.contact-side-right-form-msg::placeholder {
  color: #FFFFFF;
}
.contact-side-right-form::-webkit-input-placeholder {
  color: #FFFFFF;
}
.contact-side-right-form:-ms-input-placeholder {
  color: #FFFFFF;
}
.contact-side-right-form::placeholder {
  color: #FFFFFF;
}
.contact-side-right-button {
  width: 3.125rem;
  height: 3.25rem;
  text-align: start;
  background-color: #000000;
}
.button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
@media screen and (max-width: 960px) {
  .contact-side {
    padding-top: 25%;
  }
}
@media screen and (max-width: 719px) {
  .contact {
    position: relative;
    top: 4.375rem;
    margin-bottom: -2rem;
  }
  .contact-side-left {
    width: 100%;
  }
  .contact-side-left-tit {
    width: 100%;
  }
  .contact-side-left-txt {
    width: 100%;
  }
  .contact-side-right {
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .contact-side {
    padding-top: 35%;
  }
}
