.font-12 {
  font-size: 0.75rem;
  line-height: 0.9rem;
}
.font-14 {
  font-size: 0.875rem;
  line-height: 1.05rem;
}
.font-18 {
  font-size: 1.125rem;
  line-height: 1.35rem;
}
.font-24 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.font-32 {
  font-size: 2rem;
  line-height: 2.7rem;
}
.font-36 {
  font-size: 2.25rem;
  line-height: 2.7rem;
}
.font-53 {
  font-size: 3.335rem;
  line-height: 3.438rem;
}
.font-regular {
  font-weight: 300;
}
.font-semibold {
  font-weight: 400;
}
.font-bold {
  font-weight: 500;
}
.letter-spacing-0_3 {
  letter-spacing: 0.019rem;
}
.letter-spacing--0_3 {
  letter-spacing: -0.019rem;
}
.contact {
  background-color: #000000;
  height: 100vh;
  width: 100%;
}
.contact-border {
  border-bottom: 1px solid gray;
}
.contact--container {
  height: 100%;
}
.contact--container-row {
  height: inherit;
}
.contact--container-row-left {
  padding: 10% 0px;
}
.contact--container-row-left-tit {
  height: 50%;
  color: #FFFFFF;
  font-size: 2.25em;
  font-weight: 400;
}
.contact--container-row-left-txt {
  width: 74%;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 0.875em;
  line-height: 16.8px;
  text-align: left;
  padding-top: 0.6em;
}
.contact--container-row-right {
  padding: 10% 0px;
}
.contact--container-row-right-txt {
  height: 50%;
  color: #FFFFFF;
  font-size: 1.125em;
}
.contact--container-row-right-form {
  height: 3.25em;
  border: none;
  background-color: #000000;
  border-bottom: 1px solid gray;
  color: #FFFFFF;
  font-size: 0.75em;
}
.contact--container-row-right-form::placeholder {
  color: #FFFFFF;
}
.contact--container-row-right-button {
  width: 3.125em;
  height: 3.25em;
  color: #FFFFFF;
  background-color: #000000;
  text-align: start;
  font-size: 0.75em;
  font-weight: 500;
}
