@import 'variables';

.home{
    // min-height: 100vh;
    // width: 100%;
    &--container{
        height: 100vh;
        width: 100%;
        overflow: hidden;
        &-pic{
            height: 100%;
        }
    }
    &--container2{
        height: 25em;
        padding-top: 3.75em;
        // padding-left: 12.5em;
        // padding-right: 12.5em;
        &-side{
            width: 50%;
            &:last-child{
                padding-left: 2.5em;
            }
            &-left{
                width: 80%;
                text-align: center;
                font-size: 1.5em;
                line-height: 1.8em;
                font-weight: 500;
            }
            &-right1{
                width: 55%;
                font-size: 1.5em;
                line-height: 1.8em;
                font-weight: 300;
                padding-bottom: 0.338em;
                // margin-left: 3.125em;
            }
            &-right2{
                width: 75%;
                font-size: 0.875em;
                line-height: 16.8px;
                font-weight: 300;
                text-align: left;
                letter-spacing: 0.018em;
                padding-bottom: 0.938em;
                // margin-left: 3.125em;
            }
            &-right3{
                width: 60%;
                font-size: 0.875em;
                font-weight: 500;
                letter-spacing: 0.018em;
                // margin-left: 3.125em;
            }
        }
    }
    &--container3{
        &-project{
            width: 50%;
            height: 33vw;
            position: relative;
            img{
                height: 100%;
                width: 100%;
            }
            &-hover{
                opacity: 0;
                padding: 2.5em;
                position: absolute;
                width: 100%;
                height: 100%;
                color: #fff;
                left: 0;
                bottom: 0;
                z-index: 2;
                cursor: pointer;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                background-color: rgba(0, 0, 0, 0.80);
                -webkit-transition: opacity .3s ease-in-out;
                transition: opacity .3s ease-in-out;
                &:hover{
                    opacity: 1;
                }
                &-text{
                    font-size: 0.875em;
                    font-weight: 300;
                    line-height: 10px;
                    color: @white;
                }
            }
        }
        &-more{
            height: 6.25em;
            width: 100%;
            a{
                font-size: 1em;
                font-weight: 500;
            }
        }
    }
}
@media screen and (max-width: 1240px){
    .home{
        &--container2{
            &-side{
                &-right1{
                    width: 75%;
                }
            }
        }
    }

}
@media screen and (max-width: 959px){
    .home{
        &--container2{
            &-side{
                &-right1{
                    font-size: 1.4em;
                    width: 95%;
                }
                &-right2{
                    width: 95%;
                }
            }
        }
    }
}

@media screen and (max-width: 719px){
    .home{
        &--container{
            height: auto;
        }
        &--container2{
            flex-direction: column;
            height: auto;
            padding-bottom: 3.75em;
            &-side{
                width: 100%;
                padding-left: 2.5em;
                justify-content: flex-start !important;
                &-left{
                    width: 95%;
                    text-align: left;
                    font-size: 1em;
                    font-weight: 400;
                    opacity: 0.55;
                    padding-bottom: 1em;
                }
                &-right1{
                    width: 95%;
                    font-size: 1em;
                    font-weight: 500;
                }
                &-right2{
                    width: 95%;
                }
            }
        }
        &--container3{
            &-project{
                width: 100%;
                height: 55vw;
            }
        }
    }
}