.font-12 {
  font-size: 0.75rem;
  line-height: 0.9rem;
}
.font-14 {
  font-size: 0.875rem;
  line-height: 1.05rem;
}
.font-18 {
  font-size: 1.125rem;
  line-height: 1.35rem;
}
.font-21 {
  font-size: 1.3rem;
  line-height: 1.56rem;
}
.font-24 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.font-32 {
  font-size: 2rem;
  line-height: 2.7rem;
}
.font-36 {
  font-size: 2.25rem;
  line-height: 2.7rem;
}
.font-53 {
  font-size: 3.335rem;
  line-height: 3.438rem;
}
.font-regular {
  font-weight: 300;
}
.font-semibold {
  font-weight: 400;
}
.font-bold {
  font-weight: 500;
}
.letter-spacing-0_3 {
  letter-spacing: 0.019rem;
}
.letter-spacing--0_3 {
  letter-spacing: -0.019rem;
}
.text-transform--upper {
  text-transform: uppercase;
}
.text-prewrap {
  white-space: pre-wrap;
}
.profiles--blok1 {
  height: 100vh;
  width: 100%;
  background-image: url("../images/credo-agency-cover-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.profiles--blok1-text {
  width: 30%;
  height: 100%;
}
.profiles--blok2 {
  min-height: 22.5em;
  height: auto;
  width: 100%;
  background-color: #FFFFFF;
}
.profiles--blok2-left {
  width: 50%;
}
.profiles--blok2-left-title {
  width: 18rem;
}
.profiles--blok2-left-text {
  width: 18rem;
}
.profiles--blok2-right {
  width: 50%;
}
.profiles--blok3-part {
  height: 33vw;
  width: 100%;
}
.profiles--blok3-part-img {
  width: 50%;
  background-image: url("../images/credo-agency-brand-strategy-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profiles--blok3-part-img-desc {
  height: 100%;
  width: 100%;
}
.profiles--blok3-part-img2 {
  width: 50%;
  background-image: url("../images/credo-agency-visual-identity-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profiles--blok3-part-img2-desc {
  height: 100%;
  width: 100%;
}
.profiles--blok3-part-img3 {
  width: 50%;
  background-image: url("../images/credo-agency-brand-health-report-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profiles--blok3-part-img3-desc {
  height: 100%;
  width: 100%;
}
.profiles--blok3-part-text {
  height: 100%;
  width: 50%;
}
.profiles--blok3-part-text-all {
  min-height: 15.625em;
}
.profiles--blok3-part-text2 {
  height: 100%;
  width: 50%;
}
.profiles--blok3-part-text2-all {
  min-height: 15.625em;
}
.profiles--container {
  width: 50%;
  height: 33vw;
  position: relative;
}
.profiles--container-team1 {
  position: absolute;
  width: 100%;
  height: 100.5%;
  left: 0;
  bottom: 0;
  z-index: 2;
  box-sizing: border-box;
  background-image: url("../images/profile-team.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}
.profiles--container-team1 .hover {
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.profiles--container-team2 {
  position: absolute;
  width: 100%;
  height: 100.5%;
  left: 0;
  bottom: 0;
  z-index: 2;
  box-sizing: border-box;
  background-image: url("../images/profile-team.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}
.profiles--container-team2 .hover {
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.profiles--container-line {
  background-color: #FFFFFF;
  height: 0.063rem;
  width: 2.5rem;
}
.profiles--text {
  display: none;
}
.profiles span::before {
  content: "";
}
@media screen and (min-width: 641px) {
  .profiles--container-team1 .hover {
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .profiles--container-team1:hover {
    background-image: url("../images/profile-team-hover.jpg");
  }
  .profiles--container-team1:hover .hover {
    opacity: 1;
  }
  .profiles--container-team2 .hover {
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .profiles--container-team2:hover {
    background-image: url("../images/profile-team-hover.jpg");
  }
  .profiles--container-team2:hover .hover {
    opacity: 1;
  }
}
@media screen and (max-width: 1240px) {
  .profiles--blok1 {
    height: 66vw;
  }
}
@media screen and (max-width: 1120px) {
  .profiles--container-plus {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .grid-width {
    width: 79.055555%;
  }
  .profiles--container-line {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .profiles--blok3-part {
    height: auto;
  }
  .profiles--blok3-part:nth-child(2) {
    flex-direction: column-reverse;
  }
  .profiles--blok3-part-img {
    height: 66vw;
    width: 100%;
  }
  .profiles--blok3-part-img2 {
    height: 66vw;
    width: 100%;
  }
  .profiles--blok3-part-img3 {
    height: 66vw;
    width: 100%;
  }
  .profiles--blok3-part-text {
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .profiles--blok3-part-text2 {
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .profiles--blok3-part-text2-all {
    align-items: flex-start;
    justify-content: space-between;
  }
  .profiles--container {
    width: 100%;
    height: 66vw;
  }
  .profiles--container-team1 {
    padding-left: 7.195%;
    padding-right: 14.044445%;
  }
  .profiles--container-team2 {
    padding-left: 7.195%;
    padding-right: 14.044445%;
  }
  .profiles--container-plus {
    display: block;
  }
  .profiles--container-line {
    display: block;
  }
  .grid-width {
    padding-left: 7.195%;
  }
}
@media screen and (max-width: 719px) {
  .grid-width {
    width: 100%;
  }
  .profiles {
    position: relative;
    top: 4.375rem;
  }
  .profiles--blok2 {
    height: auto;
  }
  .profiles--blok2-left {
    width: 100%;
  }
  .profiles--blok2-left-title {
    width: 100%;
  }
  .profiles--blok2-left-text {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .profiles--blok2-right {
    width: 100%;
    padding-top: 2.5rem;
  }
  .profiles--blok2-right-title {
    width: 100%;
  }
  .profiles--blok2-right-text {
    width: 100%;
  }
  .profiles--blok3-part {
    height: auto;
  }
  .profiles--blok3-part-text {
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .profiles--blok3-part-text-all {
    padding-left: 7.195%;
    padding-right: 7.195%;
  }
  .profiles--blok3-part-text2 {
    width: 86%;
  }
  .profiles--blok3-part-img {
    width: 100%;
  }
  .profiles--container-team1 {
    padding-left: 7.195% !important;
  }
  .profiles--container-team2 {
    padding-left: 7.195% !important;
  }
}
@media screen and (max-width: 640px) {
  .profiles--text {
    display: flex;
    flex-direction: column;
    background-color: #000000;
  }
}
