.font-12 {
  font-size: 0.75rem;
  line-height: 0.9rem;
}
.font-14 {
  font-size: 0.875rem;
  line-height: 1.05rem;
}
.font-18 {
  font-size: 1.125rem;
  line-height: 1.35rem;
}
.font-24 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.font-32 {
  font-size: 2rem;
  line-height: 2.7rem;
}
.font-36 {
  font-size: 2.25rem;
  line-height: 2.7rem;
}
.font-53 {
  font-size: 3.335rem;
  line-height: 3.438rem;
}
.font-regular {
  font-weight: 300;
}
.font-semibold {
  font-weight: 400;
}
.font-bold {
  font-weight: 500;
}
.letter-spacing-0_3 {
  letter-spacing: 0.019rem;
}
.letter-spacing--0_3 {
  letter-spacing: -0.019rem;
}
.text-transform--upper {
  text-transform: uppercase;
}
.text-prewrap {
  white-space: pre-wrap;
}
.project {
  min-height: 100vh;
  width: 100%;
}
.project--hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.project--hero-image {
  width: 12.5%;
  position: absolute;
}
.project-left {
  width: 50%;
}
.project-right {
  width: 50%;
}
.project-right-side {
  width: 100%;
}
.project--images {
  width: 100%;
  line-height: 0px;
}
.project--images:last-child {
  margin-bottom: 0px;
}
.project--images-image {
  width: 100%;
}
.project--images-image:focus {
  outline: 0 !important;
}
.social {
  width: auto;
  margin-right: 0.75rem;
}
@media screen and (max-width: 1240px) {
  .project--hero {
    height: 66vw;
  }
  .project--images {
    height: auto;
  }
}
@media screen and (max-width: 849px) {
  .project-left {
    width: 100%;
  }
  .project-right {
    width: 100%;
    padding-left: 0;
  }
}
@media screen and (max-width: 719px) {
  .project {
    position: relative;
    top: 4.375rem;
  }
  .project-right-side {
    width: 100%;
  }
}
