@import 'variables';

.project {
  min-height: 100vh;
  width: 100%;
  &--hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    &-image {
      width: 12.5%;
      position: absolute;
    }
  }
  &-left {
    width: 50%;
  }
  &-right {
    width: 50%;
    &-side{
      width: 48%;
    }
  }
  &--images {
    width: 100%;
    height: 100vh;
    &:last-child{
      margin-bottom: 0px;
    }
    // &-image {
    //   width: 100%;
    //   height: 100%;
    //   &:focus{
    //     outline: 0 !important;
    //   }
    // }
  }
}
@media screen and (max-width: 1240px){
  .project{
    &--hero{
      height: 66vw;
    }
    &--images{
      height: 66vw;
    }
  }
}
@media screen and (max-width: 849px){
  .project{
    &-left{
      width: 100%;
    }
    &-right{
      width: 100%;
      padding-left: 0;
    }
  }
}
@media screen and (max-width: 719px){
  .project{
    position: relative;
    top: 4.375rem;
    &-right{
      &-side{
        width: 100%;
      }
    }
  }
}
