.font-12 {
  font-size: 0.75rem;
  line-height: 0.9rem;
}
.font-14 {
  font-size: 0.875rem;
  line-height: 1.05rem;
}
.font-18 {
  font-size: 1.125rem;
  line-height: 1.35rem;
}
.font-24 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.font-36 {
  font-size: 2.25rem;
  line-height: 2.7rem;
}
.font-53 {
  font-size: 3.335rem;
  line-height: 3.438rem;
}
.font-regular {
  font-weight: 300;
}
.font-semibold {
  font-weight: 400;
}
.font-bold {
  font-weight: 500;
}
.projects--blok1 {
  padding-top: 15%;
  padding-bottom: 10%;
}
.projects--blok1-left {
  width: 50%;
}
.projects--blok1-right {
  width: 50%;
}
@media screen and (max-width: 719px) {
  .flex-direction {
    flex-direction: column;
  }
  .projects--blok1-left {
    width: 100%;
  }
  .projects--blok1-right {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .projects--blok1 {
    padding-top: 30%;
  }
}
