@import 'variables';

.projects{
  &--blok1{
    padding-top: 15%;
    padding-bottom: 10%;
    &-left{
      width: 50%;
    }
    &-right{
      width: 50%;
    }
  }
}
@media screen and (max-width: 719px){
  .projects{
    position: relative;
    top: 100px;
    &--blok1{
      &-left{
        width: 100%;
      }
      &-right{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 480px){
  .projects{
    &--blok1{
      padding-top: 30%;
    }
  }
}
