.font-12 {
  font-size: 0.75rem;
  line-height: 0.9rem;
}
.font-14 {
  font-size: 0.875rem;
  line-height: 1.05rem;
}
.font-18 {
  font-size: 1.125rem;
  line-height: 1.35rem;
}
.font-24 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.font-32 {
  font-size: 2rem;
  line-height: 2.7rem;
}
.font-36 {
  font-size: 2.25rem;
  line-height: 2.7rem;
}
.font-53 {
  font-size: 3.335rem;
  line-height: 3.438rem;
}
.font-regular {
  font-weight: 300;
}
.font-semibold {
  font-weight: 400;
}
.font-bold {
  font-weight: 500;
}
.letter-spacing-0_3 {
  letter-spacing: 0.019rem;
}
.letter-spacing--0_3 {
  letter-spacing: -0.019rem;
}
@font-face {
  font-family: Proxima;
  font-weight: 300;
  src: url('../fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf');
}
@font-face {
  font-family: Proxima;
  font-weight: 400;
  src: url('../fonts/FontsFree-Net-Proxima-Nova-Sbold.otf');
}
@font-face {
  font-family: Proxima;
  font-weight: 500;
  src: url('../fonts/FontsFree-Net-proxima_nova_bold-webfont.ttf');
}
* {
  font-family: 'Proxima', 'sans-serif';
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0px;
  margin: 0px;
  padding: 0px;
}
* button:focus {
  outline: 0;
}
body {
  width: 100%;
  height: 100%;
  border: 0px;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
b,
strong {
  font-weight: 500;
}
img {
  border-style: none;
}
button {
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
}
button:active,
button:focus,
a:active,
a:focus,
input:active,
input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: none;
}
p {
  -webkit-margin-before: 0px;
  margin-block-start: 0px;
  -webkit-margin-after: 0px;
  margin-block-end: 0px;
  -webkit-margin-start: 0px;
  -moz-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  -moz-margin-end: 0px;
  margin-inline-end: 0px;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  opacity: 0.5;
}
.container {
  width: 100%;
}
.grid-width {
  width: 68.055555%;
}
.padding-x-main {
  padding-left: 13.195%;
  padding-right: 13.195%;
}
.padding-x-box {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.padding-x-right-col {
  padding-left: 2.5rem;
}
.padding-y-60 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.padding-y-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.padding-y-15 {
  padding-bottom: 0.94rem;
}
.margin-y-title {
  margin-bottom: 4.38rem;
}
.margin-y-text {
  margin-bottom: 1.5rem;
}
.margin-y-p {
  margin-bottom: 0.3125rem;
}
.margin-y-box {
  margin-bottom: 2.5rem;
}
.margin-x-box {
  margin-left: 1.25rem;
}
.margin-x-menu-items {
  margin-left: 4.38rem;
}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-direction {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-direction-2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-direction-3 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-content-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.justify-content-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.justify-content-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.align-items-left {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.align-items-right {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.owl-theme .owl-dots .owl-dot span {
  width: 0.313rem;
  height: 0.313rem;
  margin-bottom: 2.5rem;
  border-radius: 50%;
  margin: 0.313rem 0.438rem;
}
.owl-dots {
  padding-right: 13.195%;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.owl-item,
.owl-stage {
  height: 100vh;
}
.black {
  color: #000000;
}
.white {
  color: #FFFFFF;
}
.header {
  height: 100px;
  font-size: 1.187rem;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
}
.header #logo {
  height: 22px;
}
.header #logo .logo {
  height: 20px;
  width: 110px;
  background-image: url("../images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.header #logo .logo--letter {
  width: 20px;
}
.header #menuitems {
  height: 22px;
}
.header #menuitems a {
  font-size: 14px;
}
.header--opened {
  top: 0;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.header--closed {
  top: -100px;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.item {
  width: auto;
}
.ham {
  display: none;
  width: auto;
  margin-left: 0.938em;
}
.mobile_home {
  height: 100vh;
  width: 80vw;
  margin-top: 0px;
  display: none;
  position: fixed;
  background: #FFFFFF;
  top: 0px;
  right: 0px;
  z-index: 10500;
}
.mobile_home--closed {
  right: -80vw;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.mobile_home--opened {
  right: 0px;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.mobile_home-top {
  height: 100px;
}
.mobile_home-wrapper {
  height: calc(50vh - 100px);
  width: 100%;
}
.mobile_home-bottom {
  height: 50vh;
}
.footer {
  height: 300px;
  width: 100%;
}
.footer--background-black {
  background-color: #000000;
}
.footer--background-white {
  background-color: #FFFFFF;
}
.footer--container {
  width: 100%;
  height: 100%;
}
.footer--container-row {
  height: 100%;
  width: 100%;
}
.footer--container-row-col {
  width: 50%;
  height: 100%;
}
.footer--container-row-col--top {
  width: 50%;
}
.footer--container-row-col--bottom {
  width: 50%;
}
.footer--container-row-col--ndrow {
  height: 100%;
  width: 100%;
}
.footer--container-row-col--ndrow-left {
  width: 50%;
}
.footer--container-row-col--ndrow-right {
  width: 50%;
}
.projects--blok1 {
  padding-top: 15%;
  padding-bottom: 10%;
}
.projects--blok1-left {
  width: 50%;
}
.projects--blok1-right {
  width: 50%;
}
@media screen and (max-width: 719px) {
  .projects {
    position: relative;
    top: 100px;
  }
  .projects--blok1-left {
    width: 100%;
  }
  .projects--blok1-right {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .projects--blok1 {
    padding-top: 30%;
  }
}
.project {
  min-height: 100vh;
  width: 100%;
}
.project--hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.project--hero-image {
  width: 12.5%;
  position: absolute;
}
.project-left {
  width: 50%;
}
.project-right {
  width: 50%;
}
.project-right-side {
  width: 48%;
}
.project--images {
  width: 100%;
  height: 100vh;
}
.project--images:last-child {
  margin-bottom: 0px;
}
@media screen and (max-width: 1240px) {
  .project--hero {
    height: 66vw;
  }
  .project--images {
    height: 66vw;
  }
}
@media screen and (max-width: 849px) {
  .project-left {
    width: 100%;
  }
  .project-right {
    width: 100%;
    padding-left: 0;
  }
}
@media screen and (max-width: 719px) {
  .project {
    position: relative;
    top: 100px;
  }
  .project-right-side {
    width: 100%;
  }
}
.profiles--blok1 {
  height: 37.5em;
  width: 100%;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.profiles--blok1-text {
  width: 30%;
  height: 100%;
}
.profiles--blok2 {
  height: 28.75em;
  width: 100%;
  background-color: #000000;
}
.profiles--blok2-left {
  width: 50%;
}
.profiles--blok2-left-title {
  width: 18rem;
}
.profiles--blok2-left-text {
  width: 18rem;
}
.profiles--blok2-right {
  width: 50%;
}
.profiles--blok3-part {
  height: 33vw;
  width: 100%;
}
.profiles--blok3-part-img {
  width: 50%;
  background-image: url("../images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profiles--blok3-part-img-desc {
  height: 100%;
  width: 100%;
}
.profiles--blok3-part-img2 {
  width: 50%;
  background-image: url("../images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profiles--blok3-part-img2-desc {
  height: 100%;
  width: 100%;
}
.profiles--blok3-part-text {
  height: 100%;
  width: 50%;
}
.profiles--blok3-part-text-all {
  min-height: 15.625em;
}
.profiles--blok3-part-text2 {
  height: 100%;
  width: 50%;
}
.profiles--blok3-part-text2-all {
  min-height: 15.625em;
}
@media screen and (max-width: 1024px) {
  .grid-width {
    width: 79.055555%;
  }
}
@media screen and (max-width: 960px) {
  .profiles--blok3-part {
    height: auto;
  }
  .profiles--blok3-part:nth-child(2) {
    flex-direction: column-reverse;
  }
  .profiles--blok3-part-img {
    height: 66vw;
    width: 100%;
  }
  .profiles--blok3-part-img2 {
    height: 66vw;
    width: 100%;
  }
  .profiles--blok3-part-text {
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .profiles--blok3-part-text2 {
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .profiles--blok3-part-text2-all {
    align-items: flex-start;
    justify-content: space-between;
  }
  .grid-width {
    padding-left: 7.195%;
  }
}
@media screen and (max-width: 719px) {
  .grid-width {
    width: 100%;
  }
  .profiles {
    position: relative;
    top: 100px;
  }
  .profiles--blok2 {
    height: auto;
  }
  .profiles--blok2-left {
    width: 100%;
  }
  .profiles--blok2-left-title {
    width: 100%;
  }
  .profiles--blok2-left-text {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .profiles--blok2-right {
    width: 100%;
    padding-top: 2.5rem;
  }
  .profiles--blok2-right-title {
    width: 100%;
  }
  .profiles--blok2-right-text {
    width: 100%;
  }
  .profiles--blok3-part {
    height: auto;
  }
  .profiles--blok3-part-text {
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .profiles--blok3-part-text-all {
    padding-left: 13.195%;
    padding-right: 13.195%;
  }
  .profiles--blok3-part-img {
    width: 100%;
    height: 33vh;
  }
}
.contact {
  background-color: #000000;
}
.contact-border {
  border-bottom: 1px solid gray;
}
.contact-side {
  padding-top: 25%;
  padding-bottom: 15%;
}
.contact-side-left {
  width: 50%;
}
.contact-side-left-tit {
  width: 64%;
}
.contact-side-left-txt {
  width: 64%;
}
.contact-side-right {
  width: 50%;
}
.contact-side-right-txt {
  height: 50%;
  line-height: 1.55rem !important;
}
.contact-side-right-form {
  height: 3.25rem;
  border: none;
  background-color: #000000;
  border-bottom: 1px solid gray;
}
.contact-side-right-form-msg {
  height: 4.25rem;
  border: none;
  background-color: #000000;
  border-bottom: 1px solid gray;
}
.contact-side-right-form-msg::-webkit-input-placeholder {
  color: #FFFFFF;
}
.contact-side-right-form-msg:-ms-input-placeholder {
  color: #FFFFFF;
}
.contact-side-right-form-msg::placeholder {
  color: #FFFFFF;
}
.contact-side-right-form::-webkit-input-placeholder {
  color: #FFFFFF;
}
.contact-side-right-form:-ms-input-placeholder {
  color: #FFFFFF;
}
.contact-side-right-form::placeholder {
  color: #FFFFFF;
}
.contact-side-right-button {
  width: 3.125rem;
  height: 3.25rem;
  text-align: start;
  background-color: #000000;
}
@media screen and (max-width: 960px) {
  .contact-side {
    padding-top: 25%;
  }
}
@media screen and (max-width: 719px) {
  .contact {
    position: relative;
    top: 100px;
  }
  .contact-side-left {
    width: 100%;
  }
  .contact-side-left-tit {
    width: 100%;
  }
  .contact-side-left-txt {
    width: 100%;
  }
  .contact-side-right {
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .contact-side {
    padding-top: 35%;
  }
}
.home--container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.home--container-pic {
  height: 100%;
}
.home--container-txt {
  position: absolute;
  bottom: 0.625rem;
  margin-bottom: 2.3rem;
}
.home--container2 {
  min-height: 18rem;
}
.home--container2-side-l {
  width: 50%;
}
.home--container2-side-l-left {
  width: 80%;
}
.home--container2-side-r {
  width: 50%;
}
.home--container2-side-r-right1 {
  width: 62%;
}
.home--container2-side-r-right2 {
  width: 5.313rem;
}
.home--container3-project {
  width: 50%;
  height: 33vw;
  position: relative;
}
.home--container3-project a:hover {
  opacity: 1;
}
.home--container3-project-hover {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.home--container3-project-hover:hover {
  opacity: 1;
}
@media screen and (max-width: 1240px) {
  .home--container {
    height: 66vw;
  }
  .home--container2-side-r-right1 {
    width: 75%;
  }
}
@media screen and (max-width: 959px) {
  .home--container2-side-r-right1 {
    width: 90%;
  }
}
@media screen and (max-width: 719px) {
  .home {
    position: relative;
    top: 100px;
  }
  .home--container2 {
    height: auto;
  }
  .home--container2-side-l {
    width: 100%;
  }
  .home--container2-side-l-left {
    width: 100%;
  }
  .home--container2-side-r {
    width: 100%;
  }
  .home--container2-side-r-right1 {
    width: 100%;
  }
  .home--container3-project {
    width: 100%;
    height: 66vw;
  }
}
@media screen and (max-width: 360px) {
  .home--container-txt {
    margin-bottom: 0;
    bottom: 0.875rem;
  }
}
@media screen and (min-width: 3000px) {
  * {
    font-size: 42.66667px;
    line-height: 42.66667px;
  }
}
@media screen and (max-width: 1240px) {
  .owl-item,
  .owl-stage {
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .padding-x-main {
    padding-left: 7.195%;
    padding-right: 7.195%;
  }
  .owl-dots {
    padding-right: 7.195%;
  }
}
@media screen and (max-width: 960px) {
  .flex-direction-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (max-width: 849px) {
  .flex-direction-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (max-width: 719px) {
  .flex-direction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header {
    font-size: 17px;
    background-color: #FFFFFF;
  }
  .mobile_home {
    display: block;
  }
  .item {
    display: none;
  }
  .ham {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer {
    height: auto;
    position: relative;
    top: 100px;
  }
  .footer--container-row-col {
    width: 100%;
  }
  .footer--container-row-col--bottom {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .footer--container-row-col--bottom-totop {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer--container-row-col--ndrow {
    width: 100%;
  }
  .footer--container-row-col--ndrow-left {
    width: 100%;
    padding-left: 15px;
  }
  .footer--container-row-col--ndrow-right {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
  }
  .padding-x-right-col {
    padding-left: 0rem;
  }
}
@media screen and (max-width: 360px) {
  .owl-dots {
    bottom: 0px !important;
    height: 1.875rem;
  }
}
