@font-face {
  font-family: Proxima;
  font-weight: 300;
  src: url('../fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf');
}
@font-face {
  font-family: Proxima;
  font-weight: 500;
  src: url('../fonts/FontsFree-Net-proxima_nova_bold-webfont.ttf');
}
* {
  font-family: 'Proxima', 'sans-serif';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}
* button:focus {
  outline: 0;
}
HTML {
  line-height: 1.2;
}
body {
  width: 100%;
  height: 100%;
  border: 0px;
}
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
b,
strong {
  font-weight: 500;
}
img {
  border-style: none;
}
button {
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
}
button:active,
button:focus,
a:active,
a:focus,
input:active,
input:focus {
  outline: none;
  box-shadow: none;
  border-color: none;
}
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
}
.padding-left-8 {
  padding-left: 12%;
}
.padding-right-8 {
  padding-right: 12%;
}
.header {
  height: 100px;
  font-size: 1.187em;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header #logo {
  height: 24px;
}
.header #logo .logo {
  height: 20px;
  width: 110px;
  background-image: url("../images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.header #logo .logo--letter {
  width: 24px;
}
.header--opened {
  top: 0;
  transition: all 0.8s ease-in-out;
}
.header--closed {
  top: -100px;
  transition: all 0.8s ease-in-out;
}
.footer {
  height: 300px;
  width: 100%;
  background-color: #000000;
}
.footer--container {
  height: 100%;
  padding: 40px 0px;
}
.footer--container-row {
  height: 100%;
  width: 100%;
}
.footer--container-row-col {
  height: 100%;
}
.footer--container-row-col--top {
  width: 50%;
  color: #FFFFFF;
  font-size: 0.75em;
  line-height: 1.68;
  font-weight: 500;
}
.footer--container-row-col--bottom {
  color: #FFFFFF;
  width: 50%;
}
.footer--container-row-col--bottom p {
  font-size: 0.75em;
  line-height: 1.68;
  font-weight: 300;
}
.footer--container-row-col--bottom a {
  font-size: 0.75em;
  line-height: 1.68;
  font-weight: 300;
}
.footer--container-row-col--bottom-totop a {
  color: #FFFFFF;
  font-size: 0.75em;
  line-height: 1.68;
  font-weight: 500;
}
.footer--container-row-col--bottom-totop a:hover {
  text-decoration: none;
}
.footer--container-row-col--bottom-mail {
  margin-bottom: 24px;
}
.footer--container-row-col--bottom-statement {
  margin-top: 24px;
}
.projects--blok1 {
  height: 37.5em;
}
.projects--blok1-left {
  width: 50%;
}
.projects--blok1-left-text {
  width: 14.3em;
  min-height: 5.5em;
  font-size: 2.25em;
  font-weight: 500;
}
.projects--blok1-right {
  width: 50%;
  padding-left: 2.5em;
}
.projects--blok1-right-text {
  min-height: 5.5em;
}
.projects--blok1-right-text-1 {
  font-size: 0.875em;
  color: #000000;
  font-weight: 500;
  text-align: justify;
  padding-bottom: 0.9em;
}
.projects--blok1-right-text-2 {
  font-size: 0.875em;
  color: #000000;
  text-align: justify;
  letter-spacing: 0.019em;
}
.project {
  min-height: 100vh;
  width: 100%;
}
.project--hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.project--hero-image {
  width: 100%;
}
.project--hero-image img {
  width: 100%;
}
.project--slogan {
  width: 100%;
}
.project--slogan-left {
  padding-right: 2.5%;
  padding-top: 4%;
  padding-bottom: 4%;
}
.project--slogan-left--top {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}
.project--slogan-left--bottom {
  margin-bottom: 3%;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  line-height: 1.05em;
}
.project--slogan-right {
  padding-left: 2.5%;
  padding-top: 4%;
  padding-bottom: 4%;
  color: #000000;
}
.project--slogan-right--title {
  font-size: 24px;
  line-height: 1.8em;
  margin-bottom: 20px;
}
.project--slogan-right--words {
  font-size: 14px;
  line-height: 1.05em;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
.project--slogan-right--link {
  margin-bottom: 20px;
}
.project--slogan-right--link a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.05em;
  letter-spacing: 0.5px;
}
.project--slogan-right--innertitle {
  font-size: 14px;
  line-height: 1.35em;
  font-weight: 500;
  padding-left: 2%;
  margin-bottom: 20px;
}
.project--slogan-right--innerwords {
  width: 95%;
  font-size: 14px;
  line-height: 1.15em;
  letter-spacing: -0.5px;
  text-align: justify;
  padding-left: 2%;
  margin-bottom: 20px;
}
.project--slogan-right--bottom {
  padding: 15px 15px;
}
.project--slogan-right--bottom .column--title {
  font-size: 14px;
  line-height: 1.05em;
  font-weight: 500;
}
.project--slogan-right--bottom .column--text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.05em;
  font-weight: 300;
  text-align: justify;
}
.project--images {
  margin-top: 40px;
  width: 100%;
  height: 100vh;
}
.project--images-image {
  width: 100%;
}
.profiles--blok1 {
  height: 37.5em;
  width: 100%;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.profiles--blok1-text {
  width: 30%;
  height: 100%;
  font-size: 3.313em;
  font-weight: 500;
  line-height: 1.04;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
}
.profiles--blok2 {
  height: 28.75em;
  width: 100%;
  background-color: #000000;
  padding-top: 3.75em;
}
.profiles--blok2-left {
  width: 50%;
}
.profiles--blok2-left-title {
  font-size: 1.5em;
  color: #FFFFFF;
  font-weight: 500;
  width: 40%;
  padding-bottom: 1.038em;
  margin-left: auto;
  margin-right: auto;
}
.profiles--blok2-left-text {
  font-size: 0.875em;
  color: #FFFFFF;
  font-weight: 400;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.profiles--blok2-right {
  width: 50%;
}
.profiles--blok2-right-text {
  width: 75%;
  font-size: 0.875em;
  font-weight: 400;
  color: #FFFFFF;
  padding-left: 2.5em;
  padding-bottom: 1.25em;
  text-align: justify;
}
.profiles--blok3 {
  min-height: 112.5em;
}
.profiles--blok3-part {
  height: 37.5em;
  width: 100%;
}
.profiles--blok3-part-img {
  width: 50%;
  background-image: url("../images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.profiles--blok3-part-img-desc {
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  color: #FFFFFF;
  font-weight: 500;
}
.profiles--blok3-part-text {
  height: 100%;
  width: 50%;
  padding-left: 2.5em;
}
.profiles--blok3-part-text-all {
  min-height: 15.625em;
  width: 75%;
}
.profiles--blok3-part-text-all-num {
  font-size: 1.5em;
  font-weight: 500;
  color: #000000;
  padding-bottom: 0.55em;
}
.profiles--blok3-part-text-all-txt {
  font-size: 0.875em;
  color: #000000;
  text-align: justify;
  padding-bottom: 0.55em;
}
.profiles--blok3-part-text2 {
  height: 100%;
  width: 50%;
}
.profiles--blok3-part-text2-all {
  min-height: 15.625em;
  width: 70%;
}
.home--container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.home--container-pic {
  height: 100%;
}
.home--container2 {
  height: 25em;
  padding-top: 3.75em;
}
.home--container2-side {
  width: 50%;
}
.home--container2-side:last-child {
  padding-left: 3.125em;
}
.home--container2-side-left {
  width: 80%;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}
.home--container2-side-right1 {
  width: 55%;
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 0.338em;
}
.home--container2-side-right2 {
  width: 75%;
  font-size: 0.875em;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 0.018em;
  padding-bottom: 0.938em;
}
.home--container2-side-right3 {
  width: 60%;
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: 0.018em;
}
.home--container3-project {
  width: 50%;
  height: 30em;
  position: relative;
}
.home--container3-project img {
  height: 100%;
  width: 100%;
}
.home--container3-project-hover {
  opacity: 0;
  padding: 5%;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  left: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.home--container3-project-hover:hover {
  opacity: 1;
}
.home--container3-project-hover-text {
  font-size: 0.875em;
  font-weight: 500;
  color: #FFFFFF;
}
.home--container3-more {
  height: 6.25em;
  width: 100%;
}
.home--container3-more a {
  font-size: 1em;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .footer {
    height: auto;
  }
}
@media screen and (max-width: 720px) {
  .header {
    font-size: 17px;
  }
}
