{% extends "base.twig" %}
{% block content %}

<div class="contact">
  <div class="container contact--container contact-border">
    <div class="row contact--container-row">
      <div class="col-6 contact--container-row-left">
        <div class="col-12 contact--container-row-left-tit d-flex align-items-center">Hello.</div>
        <div class="col-12 contact--container-row-left-txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.</div>
      </div>
      <div class="col-6 contact--container-row-right">
        <div class="col-12 contact--container-row-right-txt d-flex align-items-center">
            Enquiry Form
        </div>
        <form class="col-12">
          <div class="d-flex flex-column w-100">
            <input class="contact--container-row-right-form" type="text" placeholder="Name"/>
            <input class="contact--container-row-right-form" type="email" placeholder="Email"/>
            <input class="contact--container-row-right-form" type="number" placeholder="Phone"/>
            <input class="contact--container-row-right-form" type="text" placeholder="Title"/>
            <input class="contact--container-row-right-form" type="text" placeholder="Project"/>
            <button class="contact--container-row-right-button" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
