{% extends "base.twig" %}
{% block content %}

<div class="contact">
  <div class="container h-100 contact-border">
    <div class="row">
      <div class="contact-left d-flex w-100">
        <div class="col-6 contact-left-tit d-flex align-items-end">Hello.</div>
        <div class="col-6 contact-right-txt d-flex align-items-end">
          Enquiry Form
      </div>
        {# <div class="contact-left-txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.</div> #}
      </div>
      <div class="d-flex">
      {# <div class="contact-right-txt">
          Enquiry Form
      </div> #}
        <div class="col-6">
          <div class="contact-left-txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.</div>
        </div>
        <form class="col-6">
          <div class="d-flex flex-column w-100">
            <input class="contact-right-form" type="text" placeholder="Name"/>
            <input class="contact-right-form" type="email" placeholder="Email"/>
            <input class="contact-right-form" type="number" placeholder="Phone"/>
            <input class="contact-right-form" type="text" placeholder="Title"/>
            <input class="contact-right-form" type="text" placeholder="Project"/>
            <button class="contact-right-button" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
