{% extends "base.twig" %}
{% block content %}

<div class="container-fluid p-0 no-gutters home">
  {% set projects = fetch("Project") %}
  <div class="row no-gutters owl-carousel owl-theme home--container">
    {% for project in projects %}
    <div class="col-12 p-0"><img src="./images/1.jpg" class="projects--container-pic"></div>
    {% endfor %}
    <div class="col-12 p-0"><img src="./images/2.jpg" class="projects--container-pic"></div>
    <div class="col-12 p-0"><img src="./images/1.jpg" class="projects--container-pic"></div>
    <div class="col-12 p-0"><img src="./images/2.jpg" class="projects--container-pic"></div>
    <div class="col-12 p-0"><img src="./images/1.jpg" class="projects--container-pic"></div>
  </div>

  <div class="home--container2 d-flex">
    <div class="home--container2-side d-flex justify-content-center">
        <div class="home--container2-side-left">Turning brands into beliefs.</div>
    </div>
    <div class="home--container2-side d-flex flex-column">
        <div class="home--container2-side-right1">CREDO means "I believe" and that's what we strive to deliver to our client: BELIEF!</div>
        <div class="home--container2-side-right2">As a strategic branding & design agency, we craft every brand's belief around the heart of its truth, discovered through research, shaped by strategy and manifested by visual design. These elements, working in sync, inspire belief and, thus, aimed to transform your brand.</div>
        <a class="home--container2-side-right3">SEE MORE</a>
    </div>
  </div>

  <div class="home--container3 d-flex flex-wrap">
    <div class="home--container3-project" style="background-image: url('./images/1.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        {# <img src="./images/1.jpg"> #}
        <div class="home--container3-project-hover d-flex justify-content-between">
            <div class="home--container3-project-hover-text">Makeen Perfumes</div>
            <div class="home--container3-project-hover-text">Branding + Naming</div>
        </div>
    </div>
    <div class="home--container3-project" style="background-image: url('./images/2.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        {# <img src="./images/2.jpg"> #}
        <div class="home--container3-project-hover d-flex justify-content-between">
            <div class="home--container3-project-hover-text">Makeen Perfumes</div>
            <div class="home--container3-project-hover-text">Branding + Naming</div>
        </div>
    </div>
    <div class="home--container3-project" style="background-image: url('./images/2.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        {# <img src="./images/2.jpg"> #}
        <div class="home--container3-project-hover d-flex justify-content-between">
            <div class="home--container3-project-hover-text">Makeen Perfumes</div>
            <div class="home--container3-project-hover-text">Branding + Naming</div>
        </div>
    </div>
    <div class="home--container3-project" style="background-image: url('./images/1.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        {# <img src="./images/1.jpg"> #}
        <div class="home--container3-project-hover d-flex justify-content-between">
            <div class="home--container3-project-hover-text">Makeen Perfumes</div>
            <div class="home--container3-project-hover-text">Branding + Naming</div>
        </div>
    </div>
    <div class="home--container3-more d-flex justify-content-center align-items-center"><a href="projects">SEE MORE</a></div>
  </div>

</div>

{% endblock %}
