{% extends "base.twig" %}
{% block content %}

<div class="container-fluid p-0 no-gutters projects">

  <div class="row no-gutters owl-carousel owl-theme projects--container">
    <div class="col-12 p-0"><img src="./Images/1.jpg" class="projects--container-pic"></div>
    <div class="col-12 p-0"><img src="./Images/2.jpg" class="projects--container-pic"></div>
    <div class="col-12 p-0"><img src="./Images/1.jpg" class="projects--container-pic"></div>
    <div class="col-12 p-0"><img src="./Images/2.jpg" class="projects--container-pic"></div>
    <div class="col-12 p-0"><img src="./Images/1.jpg" class="projects--container-pic"></div>
  </div>
  
</div>

{% endblock %}