{% extends "base.twig" %}
{% block content %}

<div class="profiles">

    <div class="profiles--blok1">
        <div class="profiles--blok1-text d-flex justify-content-center align-items-center">THE POWER OF BELIVE</div>
    </div>

    <div class="profiles--blok2 d-flex flex-lg-row flex-column">
        <div class="col-lg-6 col-12 profiles--blok2-left d-flex flex-column">
            <div class="profiles--blok2-left-title">CREDO’S BIG IDEA</div>
            <div class="profiles--blok2-left-text">A strategic branding and design agency that turns brands into beliefs.</div>
        </div>
        <div class="col-lg-6 col-12 profiles--blok2-right d-flex flex-column ">
            <div class="profiles--blok2-right-text">The Latin word 'Credo' translates to a single powerful statement, "I believe". And at Credo, that's exactly what we endeavor to create for our brands: BELIEF – An organic credence that stands as a catalyst to human emotions. A belief that builds enduring brand stories that not only stand the test of time, but also grow and evolve with the people they touch and inspire. Stories, which become a part of them, and elevate them into advocates.</div>
            <div class="profiles--blok2-right-text">The testament of our philosophy is that belief inspires actionable change. We know that the power of a brand is how it brands beyond cast, culture and creed, this is where the action comes in, and ‘Credo’ sets its pace.</div>
            <div class="profiles--blok2-right-text">As a strategic branding & design agency, ‘Credo’ crafts every brand's belief around the heart of its truth, discovered through research, shaped by strategy and manifested by visual design. These elements, working in sync, inspire belief and, thus, transform your brand.</div>
            <div class="profiles--blok2-right-text">CREDO - Turning brands into beliefs.</div>
        </div>
    </div>

    <div class="profiles--blok3">
        <div class="profiles--blok3-part d-flex flex-lg-row flex-column">
            <div class="col-lg-6 col-12 profiles--blok3-part-img">
                <div class="profiles--blok3-part-img-desc d-flex justify-content-center align-items-center">BRAND STRATEGY</div>
            </div>
            <div class="col-lg-6 col-12 profiles--blok3-part-text d-flex align-items-center">
                <div class="profiles--blok3-part-text-all d-flex flex-column justify-content-between">
                    <div class="profiles--blok3-part-text-all-num">01</div>
                    <div class="d-flex flex-column justify-content-between">
                        <div class="profiles--blok3-part-text-all-txt">Belief is driven by clarity: clarity of thought, clarity of heart, and clarity of vision.</div>
                        <div class="profiles--blok3-part-text-all-txt">The power of your brand comes from the clarity of the story it tells, and that's why brands with a consistent strategy and strong positioning are the ones that stand the test of time. In fact, a strong positioning is the rock on which an effective strategy is built.</div>
                        <div class="profiles--blok3-part-text-all-txt">We work with clients to create a distinctive brand positioning that helps them discover the essence of what their brand is all about. Never without consumer research and market analysis – a new positioning can’t happen without the science.</div>
                    </div>
                    <div class="profiles--blok3-part-text-all-plus">+</div>
                </div>
            </div>
        </div>
        <div class="profiles--blok3-part d-flex flex-lg-row-reverse flex-column">
            <div class="col-lg-6 col-12 profiles--blok3-part-img">
                <div class="profiles--blok3-part-img-desc d-flex justify-content-center align-items-center">VISUAL IDENTITY</div>
            </div>
            <div class="col-lg-6 col-12 profiles--blok3-part-text2 d-flex align-items-center justify-content-center">
                <div class="profiles--blok3-part-text2-all d-flex flex-column justify-content-between">
                    <div class="profiles--blok3-part-text-all-num">02</div>
                    <div class="d-flex flex-column justify-content-between">
                        <div class="profiles--blok3-part-text-all-txt">In an visual-driven world, it has been more important than ever to translate your brand strategy into a powerful set of visuals such as logo, typefaces, packaging, etc.</div>
                        <div class="profiles--blok3-part-text-all-txt">We work with clients to create unique visual brand assets, this is where our design process is centered; around the user by applying strategic design thinking to shape their perceptions about a brand, and to touch their hearts at the visceral level.</div>
                    </div>
                    <div class="profiles--blok3-part-text-all-plus">+</div>
                </div>
            </div>
        </div>
        <div class="profiles--blok3-part d-flex flex-lg-row flex-column">
            <div class="col-lg-6 col-12 profiles--blok3-part-img">
                <div class="profiles--blok3-part-img-desc d-flex justify-content-center align-items-center">BRAND HEALTH REPORT</div>
            </div>
            <div class="col-lg-6 col-12 profiles--blok3-part-text d-flex align-items-center">
                <div class="profiles--blok3-part-text-all d-flex flex-column justify-content-between">
                    <div class="profiles--blok3-part-text-all-num">03</div>
                    <div class="d-flex flex-column justify-content-between">
                        <div class="profiles--blok3-part-text-all-txt">You can't improve if you don't continually monitor your progress and this sets the brands that grow, apart.</div>
                        <div class="profiles--blok3-part-text-all-txt">Our Brand Health Report (BHR) measures both Brand Equity and Consumer Perception, and monitors key metrics like brand awareness, brand associations, perceived quality, brand loyalty and others. It is a scientific approach that provides managers a clear picture of where their brand is headed, and shows just how deeply it is resonating with its audience.</div>
                    </div>
                    <div class="profiles--blok3-part-text-all-plus">+</div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
