{% extends "base.twig" %}
{% block content %}

<div class="profiles" id="top">

    <div class="profiles--blok1 d-flex justify-content-center">
        <div class="d-flex justify-content-center align-items-center font-53 font-semibold white text-center profiles--blok1-text">THE POWER OF BELIVE</div>
    </div>

    <div class="container d-flex justify-content-center profiles--blok2 padding-y-60">
        <div class="container padding-x-main d-flex flex-direction">
            <div class="profiles--blok2-left d-flex flex-column">
                <div class="font-24 font-bold black margin-y-box profiles--blok2-left-title select-y">CREDO’S BIG IDEA</div>
                <div class="font-14 font-regular black profiles--blok2-left-text select-y">A strategic branding and design agency that turns brands into beliefs.</div>
            </div>
            <div class="profiles--blok2-right d-flex flex-column">
                <div class="padding-x-right-col font-14 font-regular black margin-y-text select-y">The Latin word 'Credo' translates to a single powerful statement, "I believe". And at Credo, that's exactly what we endeavor to create for our brands: BELIEF – An organic credence that stands as a catalyst to human emotions. A belief that builds enduring brand stories that not only stand the test of time, but also grow and evolve with the people they touch and inspire. Stories, which become a part of them, and elevate them into advocates.</div>
                <div class="padding-x-right-col font-14 font-regular black margin-y-text select-y">The testament of our philosophy is that belief inspires actionable change. We know that the power of a brand is how it brands beyond cast, culture and creed, this is where the action comes in, and ‘Credo’ sets its pace.</div>
                <div class="padding-x-right-col font-14 font-regular black margin-y-box select-y">As a strategic branding & design agency, ‘Credo’ crafts every brand's belief around the heart of its truth, discovered through research, shaped by strategy and manifested by visual design. These elements, working in sync, inspire belief and, thus, transform your brand.</div>
                <div class="padding-x-right-col font-14 font-regular black select-y">CREDO - Turning brands into beliefs.</div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-direction-3">
        <div class="profiles--container">
            <div class="profiles--container-team1 padding-y-40 padding-x-right padding-x-right-col d-flex flex-column">
                <div class="font-14 font-bold white">KHALED ALAJEEL</div>
                <div class="font-14 white margin-y-text">Brand Strategist / Founding Partner</div>
                <div class="hover d-flex flex-1 flex-column justify-content-between profiles--container-team1-w">
                    <div class="d-flex flex-column">
                        <div class="profiles--container-line margin-y-text"></div>
                        <div class="white font-14 margin-y-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        {# <div class="white font-14">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use.</div> #}
                    </div>
                    <div class="white font-14 profiles--container-plus">+</div>
                </div>
            </div>
        </div>
        <div class="profiles--text padding-y-40">
            <div class="white font-14 margin-y-text padding-x-main select-y">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
            <div class="white font-14 padding-x-main profiles--container-plus">+</div>
        </div>
        <div class="profiles--container">
            <div class="profiles--container-team2 padding-y-40 padding-x-right padding-x-right-col d-flex flex-column">
                <div class="font-14 font-bold white">PREDRAG MILANKOVIC</div>
                <div class="font-14 white margin-y-text">Creative Director / Founding Partner</div>
                <div class="hover d-flex flex-1 flex-column justify-content-between profiles--container-team2-w">
                    <div class="d-flex flex-column">
                        <div class="profiles--container-line margin-y-text"></div>
                        <div class="white font-14 margin-y-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        {# <div class="white font-14">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use.</div> #}
                    </div>
                    <div class="white font-14 profiles--container-plus">+</div>
                </div>
            </div>
        </div>
        <div class="profiles--text padding-y-40">
            <div class="white font-14 margin-y-text padding-x-main select-y">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
            <div class="white font-14 padding-x-main profiles--container-plus">+</div>
        </div>
    </div>

    <div class="container d-flex flex-column justify-content-center profiles--blok3">
        <div class="d-flex flex-direction-3 profiles--blok3-part">
            <div class="profiles--blok3-part-img">
                {# <div class="font-24 font-bold white d-flex justify-content-center align-items-center profiles--blok3-part-img-desc">BRAND STRATEGY</div> #}
            </div>
            <div class="d-flex align-items-center profiles--blok3-part-text">
                <div class="d-flex flex-column justify-content-between profiles--blok3-part-text-all">
                    <div class="grid-width padding-x-right-col font-24 font-bold black margin-y-text select-y">01 BRAND STRATEGY</div>
                    <div class="grid-width padding-x-right-col d-flex flex-column">
                        <div class="font-14 font-regular black margin-y-text select-y">Belief is driven by clarity: clarity of thought, clarity of heart, and clarity of vision.</div>
                        <div class="font-14 font-regular black margin-y-text select-y">The power of your brand comes from the clarity of the story it tells, and that's why brands with a consistent strategy and strong positioning are the ones that stand the test of time. In fact, a strong positioning is the rock on which an effective strategy is built.</div>
                        <div class="font-14 font-regular black margin-y-text select-y">We work with clients to create a distinctive brand positioning that helps them discover the essence of what their brand is all about. Never without consumer research and market analysis – a new positioning can’t happen without the science.</div>
                    </div>
                    <div class="grid-width padding-x-right-col padding-x-grid font-14 font-regular black">+</div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-direction-3 profiles--blok3-part">
            <div class="d-flex align-items-center profiles--blok3-part-text2">
                <div class="d-flex flex-column align-items-center profiles--blok3-part-text2-all">
                    <div class="grid-width font-24 font-bold black margin-y-text select-y">02 VISUAL IDENTITY</div>
                    <div class="grid-width d-flex flex-column">
                        <div class="font-14 font-regular black margin-y-text select-y">In an visual-driven world, it has been more important than ever to translate your brand strategy into a powerful set of visuals such as logo, typefaces, packaging, etc.</div>
                        <div class="font-14 font-regular black margin-y-text select-y">We work with clients to create unique visual brand assets, this is where our design process is centered; around the user by applying strategic design thinking to shape their perceptions about a brand, and to touch their hearts at the visceral level.</div>
                    </div>
                    <div class="grid-width font-14 font-regular black">+</div>
                </div>
            </div>
            <div class="profiles--blok3-part-img2">
                {# <div class="font-24 font-bold white d-flex justify-content-center align-items-center profiles--blok3-part-img-desc">VISUAL IDENTITY</div> #}
            </div>
        </div>
        <div class="d-flex flex-direction-3 profiles--blok3-part">
            <div class="profiles--blok3-part-img">
                {# <div class="font-24 font-bold white d-flex justify-content-center align-items-center profiles--blok3-part-img-desc">BRAND HEALTH REPORT</div> #}
            </div>
            <div class="d-flex align-items-center profiles--blok3-part-text">
                <div class="d-flex flex-column justify-content-between profiles--blok3-part-text-all">
                    <div class="grid-width padding-x-right-col font-24 font-bold black margin-y-text select-y">03 BRAND HEALTH REPORT</div>
                    <div class="grid-width padding-x-right-col d-flex flex-column">
                        <div class="font-14 font-regular black margin-y-text select-y">You can't improve if you don't continually monitor your progress and this sets the brands that grow, apart.</div>
                        <div class="font-14 font-regular black margin-y-text select-y">Our Brand Health Report (BHR) measures both Brand Equity and Consumer Perception, and monitors key metrics like brand awareness, brand associations, perceived quality, brand loyalty and others. It is a scientific approach that provides managers a clear picture of where their brand is headed, and shows just how deeply it is resonating with its audience.</div>
                    </div>
                    <div class="grid-width padding-x-right-col font-14 font-regular black">+</div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
