{% extends "base.twig" %}
{% block content %}
<div class="project">
  <div class="row no-gutters project--container">
    <div class="col-12"><img src="../Images/1.jpg" class=""></div>
    <div class="col-12"><img src="../Images/2.jpg" class=""></div>
    <div class="col-12"><img src="../Images/1.jpg" class=""></div>
    <div class="col-12"><img src="../Images/2.jpg" class=""></div>
    <div class="col-12"><img src="../Images/1.jpg" class=""></div>
    <div class="pic_counter project--container-counter">
      <div class="pic_counter-count"></div>
      <div class="pic_counter-count"></div>
      <div class="pic_counter-count"></div>
      <div class="pic_counter-count"></div>
      <div class="pic_counter-count"></div>
    </div>
  </div>
  <div class="row no-gutters project--slogan">
    <div class="col-6 col-md-12">Turning brands into beliefs.</div>
    <div class="col-6 col-md-12"></div>
    <div class="w-100 d-none d-md-block"></div>
    <div class="col-6 col-md-12">CREDO means "I believe" and that's what we strive to deliver to our client: BELIEF!</div>
    <div class="col-6 col-md-12">As a strategic branding & design agency, we craft every brand's belief around the heart of its truth, discovered through research, shaped by strategy and manifested by visual design. These elements, working in sync, inspire belief and, thus, aimed to transform your brand.</div>
    <div class="col-6 col-md-12"><a href="#">SEE MORE</a></div>
  </div>
  <div class="row no-gutters">
    <img src="" class="">
  </div>
  <div class="row no-gutters">
    <img src="" class="">
  </div>
  <div class="row no-gutters">
    <img src="" class="">
  </div>
  <div class="row no-gutters">
    <img src="" class="">
  </div>
</div>

{% endblock %}
