{% extends "base.twig" %}
{% block content %}
    <div class="project">
  <div class="row">
    <div class="col-12"><img src="" class=""></div>
    <div class="col-12"><img src="" class=""></div>
    <div class="col-12"><img src="" class=""></div>
    <div class="col-12"><img src="" class=""></div>
    <div class="col-12"><img src="" class=""></div>
    <div class="pic_counter">
      <div class="pic_counter-count"></div>
      <div class="pic_counter-count"></div>
      <div class="pic_counter-count"></div>
      <div class="pic_counter-count"></div>
      <div class="pic_counter-count"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-12"></div>
    <div class="col-6 col-md-12"></div>
    <div class="w-100 d-none d-md-block"></div>
    <div class="col-6 col-md-12"></div>
    <div class="col-6 col-md-12"></div>
  </div>
  <div class="row">
    <img src="" class="">
  </div>
  <div class="row">
    <img src="" class="">
  </div>
  <div class="row">
    <img src="" class="">
  </div>
  <div class="row">
    <img src="" class="">
  </div>
</div>

{% endblock %}
