{% extends "base.twig" %}
{% block content %}

<div class="projects">

  <div class="container projects--blok1 d-flex">
    <div class="projects--blok1-left d-flex justify-content-center align-items-center">
      <div class="projects--blok1-left-text">Hello.</div>
    </div>
    <div class="projects--blok1-right d-flex flex-column justify-content-center">
      <div class="projects--blok1-right-text">
        <div class="projects--blok1-right-text-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</div>
        <div class="projects--blok1-right-text-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.</div>
      </div>
    </div>
  </div>

  <div class="home--container3 d-flex flex-wrap">
    <div class="home--container3-project">
        <img src="./Images/1.jpg">
        <div class="home--container3-project-hover d-flex justify-content-between">
            <div class="home--container3-project-hover-text">Makeen Perfumes</div>
            <div class="home--container3-project-hover-text">Branding + Naming</div>
        </div>
    </div>
    <div class="home--container3-project">
        <img src="./Images/2.jpg">
        <div class="home--container3-project-hover d-flex justify-content-between">
            <div class="home--container3-project-hover-text">Makeen Perfumes</div>
            <div class="home--container3-project-hover-text">Branding + Naming</div>
        </div>
    </div>
    <div class="home--container3-project">
        <img src="./Images/2.jpg">
        <div class="home--container3-project-hover d-flex justify-content-between">
            <div class="home--container3-project-hover-text">Makeen Perfumes</div>
            <div class="home--container3-project-hover-text">Branding + Naming</div>
        </div>
    </div>
    <div class="home--container3-project">
        <img src="./Images/1.jpg">
        <div class="home--container3-project-hover d-flex justify-content-between">
            <div class="home--container3-project-hover-text">Makeen Perfumes</div>
            <div class="home--container3-project-hover-text">Branding + Naming</div>
        </div>
    </div>
  </div>

</div>

{% endblock %}
